@media (prefers-color-scheme: dark) {
	.headline {
		background-color: #26213c;
	}

	.container {
		background-color: #2b2b2b;
		color: #dadada;
		box-shadow: 10px 10px 5px rgba(0, 0, 0, .24)
	}

	body {
		background: linear-gradient(#0f1115,#000000a1), url(../static/img/diag_stripe_grey1.png) !important;
	}

	.footer, .footer a {
		color: #6d6d6d !important;
	}

	.footer a:hover {
		color: #b5b5b5 !important;
		text-decoration: none;
	}
	
	a {
		color: #6d6d6d !important;
        text-decoration: none;
	}
	
	a:hover {
		color: #b5b5b5;
	}
    
}