body {
	padding-top: 2em;
	background: linear-gradient(#fefefe,#dccd7f87), url(/static/img/diag_stripe_grey1.png);
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	background-attachment: fixed !important;
}

#inlineblock {
	display: inline-block;
}

#headerthing {
	padding-top: 9px;
	padding-right: 5px;
	vertical-align: middle;
	float: right;
}

h1 {
	margin: 0px;
}

html {
	height: 140%;
}

#black {
	color: black;
}

.container {
	
	word-wrap: break-word;
	padding: 5px;
	width: 776px;
	margin: auto;
	border: solid 1px #555;
	background-color: #eed;
	  box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
	  -moz-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
	  -webkit-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
	  -o-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
	background-color: #fff;
}

.footer {
	width: 776px;
	margin: auto;
	color: black; 
}

.headline {
	background-color: #d4c063;
	padding: 5px;
	color: white;
}

.headline a {
	text-decoration: none;
	color: white;
}

.headline a:hover {
	text-decoration: underline;
	color: #DCDCDC;
}

#floatRight {
	float: right;
}

.footer a {
	color: black;
	text-decoration: none;
}

.footer a:hover {
	color: gray;
	text-decoration: underline;
}

#rightFooterCustom {
	padding-top: 9px;
	padding-right: 5px;
	float: right;
	vertical-align: middle;
}

#leftFooterCustom {
	position: absolute;
	padding-top: 9px;
	padding-right: 5px;
	float: right;
	vertical-align: middle;
}
